{% extends 'core/base.html' %}
{% load static %}



{% block contenido %}
<div class="container mt-5 pt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Iniciar Sesión</div>
                <div class="card-body">
                    {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <a href="{% url 'password_reset' %}" class="text-center mt-3 mb-3 text-secondary">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="col-md-3">
                        <button type="submit" class="btn btn-warning mb-3">Login</button></div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
    <div class="pb-5"></div>




</div>




<!-- Incluye los archivos JS de Bootstrap si usas 'bootstrap4' -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/alerts.js' %}"></script>
<script src="{% static 'core/js/funcionalidades.js' %}"></script>


{% endblock %}