{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!--PERIODISTA-->
<section class="int-noti">
    <div class="container pt-5">
  <div class="row">
        <div class="col-md-1 col-sm-12">
        </div>
              <div class="col-md-10 col-sm-12 pt-5">
                  <div class="col-md-6 d-flex align-items-center">
                  <img src="{% static 'core/images/e048c7e5b3aab42a6e6d249e644cb69b.jpg' %}" class="rounded-circle" width="20%" alt="juancarlosbodoque">
                      <h3 class="p-3 juan">Juan Carlos Bodoque</h3>                   
                  </div>
                  
                  <hr class="mt-4 hr-detalle">
  
                      <P class="categ-txt col-md-4 p-2 ">Notas realizadas</P>
                      <div class="row pt-5 text-start">
              
                          <div class="col-md-3 col-sm-12 mb-3">
                              <div class="card" style="width: 15rem;">
                                <img src="{% static 'core/images/Encuentran-cadaver-cerca-del-casino-de-vina-del-mar-768x432.jpg' %}" class="card-img-top" alt="">
                                <div class="card-body">
                                  <p class="cat-card text-center">Nacional</p>
                                  <h5 class="card-title"><a href="{% url 'detalle' %}" class="link-card">Investigan presunto sicariatio: Segundo homicidio 
                                      en menos de 24 horas en Viña del Mar.</a></h5>
                                  <p class="card-text">Some quick example text to build on the card title.</p>
                                  </div>
                              </div>
                              </div>
                          <div class="col-md-3 col-sm-12 mb-3">
                            <div class="card" style="width: 15rem;">
                              <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                              <div class="card-body">
                                <p class="cat-card text-center">Nacional</p>
                                <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                          </div>
                
                          <div class="col-md-3 col-sm-12 mb-3">
                            <div class="card" style="width: 15rem;">
                            <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                              <div class="card-body">
                                <p class="cat-card text-center">Nacional</p>
                                <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                          </div>
                
                          <div class="col-md-3 col-sm-12 mb-5">
                            <div class="card" style="width: 15rem;">
                                <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                              <div class="card-body">
                                <p class="cat-card text-center">Nacional</p>
                                <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="row text-start">
                            
                        <div class="col-md-3 col-sm-12 pb-5 mb-5">
                          <div class="card" style="width: 15rem;">
                            <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                            <div class="card-body">
                              <p class="cat-card text-center">Nacional</p>
                              <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        </div>
                
                        <div class="col-md-3 col-sm-12 pb-5 mb-5">
                          <div class="card" style="width: 15rem;">
                            <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                            <div class="card-body">
                              <p class="cat-card text-center">Nacional</p>
                              <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        </div>
                
                        <div class="col-md-3 col-sm-12 pb-5 mb-5">
                          <div class="card" style="width: 15rem;">
                            <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                            <div class="card-body">
                              <p class="cat-card text-center">Nacional</p>
                              <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        </div>
                
                        <div class="col-md-3 col-sm-12 pb-5 mb-5">
                          <div class="card" style="width: 15rem;">
                            <img src="{% static 'core/images/images.jpg' %}" class="card-img-top" alt="cñora loca">
                            <div class="card-body">
                              <p class="cat-card text-center">Nacional</p>
                              <h5 class="card-title"><a href="{% url 'index' %}" class="link-card">Mujer en estado etílico repercute 3 balazos en Lo Valledor</a></h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        </div>
                  </div>  
  
          <div class="col-md-1 col-sm-12">
          </div>
  </div>
          
    </div>
   </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>



{% endblock %}