{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1>Listado de Noticias</h1>
    </div>
  </div>

  {% for noticia in noticias %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ noticia.titular }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Por: {{ noticia.nombre_redactor }}</h6>
        <p class="card-text">{{ noticia.subtitulo }}</p>

        <!-- Contenido colapsable -->
        <div class="collapse" id="collapseNoticia{{ noticia.id }}">
          <div class="mt-3">
            <p>{{ noticia.cuerpo }}</p>
            <img src="{{ noticia.imagen.url }}" alt="Imagen de la noticia" class="img-fluid">
          </div>
        </div>

        <p class="mt-2"><strong>Estado:</strong> {{ noticia.estado }}</p>

        <!-- Botones -->
        <div>
          <!-- Formulario para cambiar estado -->
          <form action="{% url 'cambiar_estado_noticia' noticia.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <div class="form-group">
              <label for="estado-noticia-{{ noticia.id }}">Cambiar Estado:</label>
              <input type="text" class="form-control" id="estado-noticia-{{ noticia.id }}" name="estado" value="{{ noticia.estado }}">
            </div>
            <button type="submit" class="btn btn-info">Guardar Estado</button>
          </form>

          <!-- Botón para "Aceptar Noticia" -->
          <a href="{% url 'confirmar_noticia' noticia.id %}" class="btn btn-success ml-2">Aceptar Noticia</a>

          <!-- Botón para "Ver más" -->
          <button class="btn btn-primary mb-2 ml-2" type="button" data-toggle="collapse" data-target="#collapseNoticia{{ noticia.id }}" aria-expanded="false" aria-controls="collapseNoticia{{ noticia.id }}">
            Ver más
          </button>
        </div>

      </div>
    </div>
  {% endfor %}
  
</div>

{% endblock %}
